/*
webkit stuff:https://developer.mozilla.org/en-US/docs/Web/CSS/WebKit_Extensions
             https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
html, css and java script learnt from: https://www.youtube.com/watch?v=K3jb8_pPlRQ&t=12s
*/


/*overall stylings*/
body {
  margin: 0;
  min-width: 300px;
  overflow-x: hidden;
  transition: 0.5s;
}

* {
  box-sizing: border-box;
}

/*Header Styles*/

.the-header{
  background-color: #FFF4B4;
  padding: 30px 42px;
  color: black;
  text-align: center;
  transition: 0.5s;
}

.the-header:after{
  content: "";
  display: table;
  clear: both;
  transition: 0.5s;
}

/* Input Styles */

#the-input {
  width: 85%;
  padding: 10px;
  float: left;
  font-size: 15px;
  margin: 0;
  border: none;
  border-radius: 0;
  transition: 0.5s;
}

.create-button{
  padding: 10px;
  background-color: #E3C79F;
  font-size: 15px;
  width: 15%;
  color:  #000000;
  float: left;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  transition: 0.5s;
}

.create-button:hover{
  background-color: #C5AD8B;
  transition: 0.5s;
}

/*List Stylings*/

ul {
  margin: 0;
  padding: 0;
}

#the-li {
  position: relative;
  background-color: #E9D0A6;
  list-style-type: none;
  cursor: pointer;
  padding: 10px 6px 10px 30px;
  transition: 0.3s;
  /* making list unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s;
}

#the-li:nth-child(odd){
  background-color: #F5DBAF;
  transition: 0.5s;
}

.checked{
  background: #9F8A67;
  color: white;
  text-decoration: line-through;
  transition: 0.5s;
}

.checked::before{
  content: '';
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 15px;
  transform: rotate(45deg);
  height: 15px;
  width: 10px
  transition: 0.5s;
}

#the-li:hover {
  background-color: #C8B28D;
  transition: 0.5s;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px 10px 15px;
  transition: 0.5s;
}

.close:hover{
  background: #f43c2f;
  transition: 0.5s;
}

/*Night Mode styles*/
.toggle{
  position: absolute;
  top: 40px;
  right: 50px;
  background: #fff;
  border: 2px solid #00151f;
  width: 87px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
}

.toggle::before{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}

.toggle.active::before{
  left: 51px;
}

body.night{
  background: #00151f;
  transition: 0.5s;
}

.the-header.night{
  background-color: #000b4b;
  color: white;
  transition: 0.5s;
}
.create-button.night{
  background-color: #1c3860;
  color: white;
}

.task-item.night{
  transition: 0.5s;
  background-color: #162f59;
  color: white;
}

.task-item.night:nth-child(odd){
  transition: 0.5s;
  background-color: #0a2450;
  color: white;
}

.close.night{
  color: white;
}

/*Making it Mobile Responsive*/
/*Found help from this tutorial: https://www.youtube.com/watch?v=2KL-z9A56SQ */
@media(min-width:750px) {
  .the-header{
    font-size: 2.5rem;
    padding: 30px 42px;
    text-align: center;
    padding-bottom: 50px;

  }
  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    font-size: 40px;
    position: relative;
    background-color: #E9D0A6;
    list-style-type: none;
    cursor: pointer;
    padding: 10px 6px 10px 30px;
    padding-left: 45px;
    transition: 0.3s;
    /* making list unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media (min-width:750px) {
  #the-input {
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 35px;
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .create-button{
    padding: 10px;
    background-color: #E3C79F;
    font-size: 35px;
    width: 25%;
    color:  #000000;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  #the-new-list-input {
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 35px;
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .create-list-button{
    padding: 10px;
    background-color: #E3C79F;
    font-size: 35px;
    width: 25%;
    color:  #000000;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .create-list-button:hover{
    background-color: #C5AD8B;
  }

  .close{
    padding: 15px 20px 17px 20px;
    border: none;
    background: none;
    font-size: 30px;
    text-align: center;
  }
}
